.html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background: #e0e0e0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: $main-text-font;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 3px;
  text-align: left;
  color: #fff;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  box-sizing: border-box;

  @include content-padding-inline;
}



.main {
  &__content {
    display: flex;
    row-gap: 120px;


    @include content-padding-inline;

    @include responsive(tablet) {
      row-gap: 148px;
    }
  }
}
