.send-message {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;

  &__title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  &__form {
    max-width: 600px;
    margin: 0 auto;

    &__input,
    &__textarea {
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      border: 1px solid #ddd;
    }

    &__button {
      padding: 1rem 2rem;
      background-color: #007bff;
      color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #007bff;
      }
    }
  }
}
