.vision {
  padding: 4rem 2rem;
  background-image: url(../images/Shapes.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;

  &__title {
    font-size: 13px;
  }
}
