.who-we-are {
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 754px;

  @include content-padding-inline;

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: #253757;
    margin-bottom: 16px;
  }

  &__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: #6c788b;
    margin: auto;
    padding: 20px;
  }
}
