$bg-color: #2c2c2c;
$main-text-font: 'Poppins', sans-serif;
$large-min-width: 2560px;
$design-min-width: 1600px;
$desktop-min-width: 1280px;
$small-desktop-min-width: 1024px;
$tablet-min-width: 640px;
$mobile-max-width: 320px;
